<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fb.mapper.DeptMapper">
    <select id="selectDeptsByLimitAndOffset" resultType="cn.fb.pojo.Dept">
    SELECT
    *
    FROM
    dept_inf
    LIMIT #{offset}, #{limit}
    </select>
</mapper>