<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.fb.mapper.DocumentMapper">
    <select id="selectDocList" resultMap="documentResult">
        SELECT
        *
        FROM
        document_inf
        LIMIT #{offset}, #{limit}
    </select>
    <select id="findDocumentById" resultMap="documentResult">
        SELECT
        *
        FROM
        document_inf
        WHERE
        id = #{id}
    </select>
    <insert id="addDocument" parameterType="cn.fb.pojo.Document">
        INSERT INTO
        document_inf
        (title,filename,remark,user_id)
        VALUES
        (#{document.title},#{document.fileName},#{document.remark},#{document.user.id})
    </insert>
    <resultMap id="documentResult" type="cn.fb.pojo.Document">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="filename" property="fileName"></result>
        <result column="remark" property="remark"></result>
        <result column="create_date" property="createDate"></result>
    </resultMap>
</mapper>